<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Admin Shalom - Igreja Batista do Avivamento Shalom</title>
    <!-- Favicon-->
    <link rel="icon" th:href="@{favicon.ico}" type="image/x-icon">

    <!-- Google Fonts -->
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext}" rel="stylesheet" type="text/css">
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link th:href="@{/plugins/bootstrap/css/bootstrap.css}"  type="text/css" rel="stylesheet" />

    <!-- Waves Effect Css -->
    <link th:href="@{/plugins/node-waves/waves.css}" rel="stylesheet" />
    
    <!-- Animation Css -->
    <link th:href="@{/plugins/animate-css/animate.css}" rel="stylesheet" />
    
     <!-- Wait Me Css -->
    <link th:href="@{/plugins/waitme/waitMe.css}" rel="stylesheet" />
    
    <!-- Custom Css -->
    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link th:href="@{/css/themes/all-themes.css}" rel="stylesheet" />
    
     <!-- Sweetalert - Swal -->
    <link th:href="@{/plugins/sweetalert/sweetalert.css}" rel="stylesheet" />
    
    <!-- CSS PADRAO SHALOM -->
    <link th:href="@{/css/shalom.css}" rel="stylesheet" />
    
    <!-- Icone do Title -->
    <link rel="shortcut icon" th:href="@{/images/thumbs-up.png}"/>
    
</head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Por favor aguarde...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
  
    <section>
        
       <!-- Colocar arqui o LeftSideBar  -->
       
       <!-- Colocar arqui o RightSideBar  -->
       <div th:replace="layout/fragments/TopBar :: navbar"></div>
	
	   <div th:replace="layout/fragments/LeftSideBar :: leftsidebar"></div>
	
	   <section class="content" layout:fragment="conteudo"></section>
	
<!-- 	   <div th:replace="layout/fragments/Footer :: layout-footer"></div> -->
       
       
        
    </section>

<!--     <section class="content"> -->
        
<!--     </section> -->
 	
 	<!-- Sweetalert - Swal -->
    <script th:src="@{/plugins/sweetalert/sweetalert-dev.js}"></script>

    <!-- Jquery Core Js -->
    <script th:src="@{/plugins/jquery/jquery.min.js}"></script>

    <!-- Bootstrap Core Js -->
    <script th:src="@{/plugins/bootstrap/js/bootstrap.js}"></script>

    <!-- Select Plugin Js -->
    <script th:src="@{/plugins/bootstrap-select/js/bootstrap-select.js}"></script>

    <!-- Slimscroll Plugin Js -->
    <script th:src="@{/plugins/jquery-slimscroll/jquery.slimscroll.js}"></script>

    <!-- Waves Effect Plugin Js -->
    <script th:src="@{/plugins/node-waves/waves.js}"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script th:src="@{/plugins/jquery-countto/jquery.countTo.js}"></script>
    

    <!-- Custom Js -->
    <script th:src="@{/js/admin.js}"></script>
    
    <th:block layout:fragment="javascript-extra"></th:block>

</body>

</html>